#banner {
    height: 20rem;
    width: 100%;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-paragraph {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    text-align: center;
}

#about {
    border: 1px dotted dodgerblue;
}

@media (max-width: 750px) {
    .about-paragraph {
        width: 85%;
    }
}

@media (max-width: 400px) {
    #phone {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 577px) {
    .selling-point {
        font-size: 1rem;
        width: 100%;
    }
}

@media (min-width: 578px) {
    .selling-point {
        font-size: 1.3rem;
        width: 600%;
    }
}

@media (min-width: 768px) {
    .selling-point {
        font-size: 0.85rem;
        width: 160%;
    }
}

@media (min-width: 992px) {
    .selling-point {
        font-size: 1.1rem;
        width: 166%;
    }
}

@media (min-width: 1200px) {
    .selling-point {
        font-size: 1.4rem;
        width: 178%;
    }
}