.brand-name {
    font-family: 'Courgette', cursive;
}

.banner {
    height: 52rem;
    width: 100%;
    object-fit: cover;
}

.about-therapy p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.about-therapy a {
    font-size: 1.5rem;
    color: #691cce;
}

.why-therapy {
    height: 100%;
    width: 100%;
}

.why-choose-me i {
    color: #7a6991;
}

.free-call-strip {
    background-color: #7a6991;
    height: 40%;
}

.free-call-strip h1 {
    color: white;
    padding-top: 4rem;
}

.free-call-strip span {
    border-bottom: 2px solid white;
}

.free-call-strip p {
    margin-top: 2rem;
}

.free-call-strip a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: #5ca720;
    padding: 0.7rem;
    border: 2px solid #5ca720;
    border-radius: 32px;
}

.free-call-strip a:hover {
    color: white;
    text-decoration: none;
    animation: free-call 2s;
    font-size: 2.2rem;
}

@keyframes free-call {
    0% {font-size: 2rem;}
    100% {font-size: 2.2rem;}
}

.no-credit-card {
    color: white;
}

.profile-pic {
    height: 100%;
    width: 100%;
}

.about-me p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

.testimonial-container {
    position: relative;
}

.testimonial-container::after {
    content : "";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://images.pexels.com/photos/3958396/pexels-photo-3958396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.2;
}

.testimonial-title {
    color: black;
    padding-top: 2rem;
}

.testimonial-paragraph {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 1.1rem;
    color: #221f25;
    margin-top: 2rem;
    opacity: 1;
}

.reviewer {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #36313a;
}

@media (max-width: 280px) {
    .brand-name {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .banner {
        height: 16rem;
    }
}

@media (max-width: 280px) {
    .free-call-strip {
        height: 17rem;
    }
}

@media (max-width: 500px) {
    .free-call-strip a {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .free-call-strip a {
        font-size: 0.75rem;
    }
}

@media (max-width: 280px) {
    #experienced {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .testimonials h1 {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    .testimonial-container::after {
        background-image: url('https://images.pexels.com/photos/3958396/pexels-photo-3958396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
    }
}

@media (max-width: 750px) {
    .about-therapy p {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .book-call-btn {
        display: flex;
        justify-content: center;
    }
    .no-credit-card-container {
        display: flex;
        justify-content: center;
        margin-left: 2.5rem;
    }
}